ClusterName={{ slurm_cluster_name }}
ControlMachine={{ slurm_control_machine }}
SlurmUser={{ slurm_user }}
SlurmdUser={{ slurm_slurmd_user }}
AuthType=auth/munge
StateSaveLocation={{ slurm_state_save_location }}
SlurmdSpoolDir={{ slurm_slurmd_spool_dir }}
SlurmctldLogFile={{ slurm_ctld_log_file }}
SlurmdLogFile={{ slurm_d_log_file }}
SlurmctldPidFile={{ slurm_ctld_pid_file }}
SlurmdPidFile={{ slurm_d_pid_file }}
ProctrackType=proctrack/pgid
ReturnToService=2
SchedulerType=sched/backfill
SlurmctldTimeout={{ slurm_ctld_timeout }}
SlurmdTimeout={{ slurm_d_timeout }}
TaskPlugin=task/cgroup
TreeWidth=65533
SelectType=select/cons_tres
MaxNodeCount={{ slurm_max_node_count }}

PartitionName={{ slurm_partition_name }} Nodes=ALL Default=YES MaxTime={{ slurm_partition_max_time }} State=UP