ArchiveDir=/tmp
ArchiveScript=
AuthType=auth/munge
DbdHost={{ slurm_control_machine }}
DbdPort={{ slurm_slurmctld_port }}
DebugFlags=CPU
DebugLevel=3
PurgeEventAge=12months
PurgeJobAge=12months
PurgeResvAge=12months
PurgeStepAge=12months
PurgeSuspendAge=12months
PurgeTXNAge=12months
PurgeWAge=12months
LogFile={{ slurm_slurmdbd_log_file }}
PidFile={{ slurm_slurmdbd_pid_file }}
PluginDir=/usr/lib64/slurm
PrivateData=pw
SlurmUser={{ slurm_user }}
StorageHost={{ slurm_slurmdbd_storage_host }}
StoragePort={{ slurm_slurmdbd_storage_port }}
StoragePass={{ slurm_slurmdbd_storage_pass }}
StorageType={{ slurm_slurmdbd_storage_type }}
StorageUser={{ slurm_slurmdbd_storage_user }}
StorageLoc={{ slurm_slurmdbd_storage_db }}
